body{
  background-color: red;
  margin: 0;
}

header{
  position: fixed;
  display: inline-block;
  width: 100%;
  background-color: black;
  top: 0;
  padding: 10px;
  box-sizing: border-box;
  height: 100px;
  align-items: center;
  z-index: 999;
}

header nav{
  float: right;
  margin-right: 55px;
}

header nav ul{
  list-style: none;
  margin-right: 80px;
}

header nav ul li{
  display: inline-block;
  margin: 15px;
}

header nav ul li a{
  text-decoration: none;
  color: #FFF;
  font-weight: 800;
  font-size: 20px;
  transition: 0.5s;
  display: inline-block;
}

header nav ul li a:hover{
  color: #F00;
  transform: scale(1.2);
}

header img {
  width: 200px;
  margin-top: 15px;
  margin-left: 65px;
}

ul img{
  justify-content: right;
  margin-right: 350px;
}

main{
    padding-top: 120px;
    padding-bottom: 80px;
}

footer{
  background-color: black ;
  margin: 0;
  padding: 5px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer p{
  color: #FFF; 
  font-size: 16px;
  font-family: Raleway;
}

footer a{
  text-decoration: none;
  margin: 20px;
  background-color: #b00b19;
  border-radius: 100px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icones{
  display: flex;
}